<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="/">{{ siteTitle }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% if page is defined %}
                    {% if "browse_entries" == page %}
                        {% set class_browse_entry = "active" %}
                    {% elseif "new_entry" == page %}
                        {% set class_new_entry = "active" %}
                    {% else %}
                        {% set class_home = "active" %}
                    {% endif %}
                {% endif %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ class_home }}">
                        <a class="nav-link" href="/_p/">Home</a>
                    </li>
                    <li class="nav-item {{ class_browse_entry }}">
                        <a class="nav-link " href="{{ path_for('browse_entry') }}">Browse Entries</a>
                    </li>
                    <li class="nav-item {{ class_new_entry }}">
                        <a class="nav-link" href="{{ path_for('new_entry') }}">New Entry</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    {% if auth.check %}
                    <a href="{{ path_for('logout') }}" class="btn btn-secondary" role="button" aria-disabled="true">Logout</a>
                    {% endif %}
                </form>
            </div>
        </nav>

        <div class="container-fluid">
            {% include 'partials/flash.twig' %}
            {% block content %}{% endblock %}
        </div>

        <!-- Modal -->
        <div id="modalPleaseWait" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPleaseWaitTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPleaseWaitTitle">Please wait</h5>
                    </div>
                    <div class="modal-body">
                        <p>Just a moment while we process your request...</p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        {% block javaScript %}{% endblock %}
    </body>
</html>