{% block content %}
    {% for entry in entries %}
        {% if entry.hasFrontMatter('template') %}
            {% set template = entry.getFrontMatter('template') %}
        {% else %}
            {% set template = 'default' %}
        {% endif %}
        {% if 'aside.twig' == template %}
            <article class="site-content format-aside">
                {{ entry.getContent }}

                <header>
                    {% if entry.hasFrontMatter('created_at') %}
                        <p>
                            <time>
                                <a href="{{ entry.getRelativeUrl }}" title="permalink to this entry">
                                    → {{ entry.getFormattedDate('created_at', 'Y-m-d @ H:i') }}
                                </a>
                            </time>
                        </p>
                    {% endif %}
                </header>
            </article>
        {% else %}
            <article>
            <article class="site-content format-standard">
                <header>
                    {% if entry.hasFrontMatter('title') %}
                        {% set title = entry.getFrontMatter('title') %}
                    {% elseif entry.hasFrontMatter('created_at') %}
                        {% set title = entry.getFormattedDate('created_at', 'l, jS F Y @ H:i') %}
                    {% else %}
                        {% set title = 'Untitled' %}
                    {% endif %}
                    <a href="{{ entry.getRelativeUrl }}">{{ title | escape }}</a>
                </header>

                {{ entry.getContent }}
            </article>
        {% endif %}

    {% endfor %}
{% endblock %}