{% extends "layout.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Configure Password</h4>

            <p class="card-text">Use this page to configure a password for use with the site. A password is needed to login to the web interface and for certain APIs.</p>

            <p class="card-text">This page will generate a secure password that you'll need to place in <strong>config/site.yaml</strong>.</p>

            {% if hashedPassword %}
            <div class="alert alert-success" role="alert">
                Paste the following into config/site.yaml after password <strong>{{ hashedPassword }}</strong>
            </div>
            {% endif %}

            <form method="post">
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" value="{{ password }}" placeholder="Password for the site" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}